
<div class="container justify--center">
  <div class="jumbotron mt-30">
    <h1 class="display-4">Aplha Blog Application</h1>
    <p class="lead"> intro... </p>
    <hr class="my-4">
    <p>description...</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
    <br><br><%= link_to "All Articles", articles_path %><br><br>
</div>


